.form {
  width: 100%;
  height: 100%;
  float: left;
  background: #282c34;
  overflow: scroll;
}
.submit-button {
  align-self: center;
  text-align: center;
  border: 2px solid red;
  margin-left: 45%;
  margin-right: 45%;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 150px;
  height: 50px;
  border-radius: 25px;
}
.success {
  text-align: center;
  text-decoration-color: green;
  margin-top: 25%;
  color: green;
}
